@charset "utf-8";

body{
    margin: 0px;
    background-color: #272727;
    color: #ffffff;
}

header{
    height: 100px;
    background-color: #131313;
    text-align: center;
    white-space: nowrap;
}

header h1{
    height: 60px;
    margin: 10px;
    margin-bottom: 0px;
    line-height: 60px;
}

header p{
    margin-left: 10px;
}

nav{
    height: 40px;
    background-color: #ffffff;
}

nav ul{
    width: 700px;
    margin-top: 0px;
    margin-bottom: 8px;
    padding: 0px;
    display: flex;
    list-style: none;
    margin-left: auto;
    margin-right: auto;
}

nav a{
    background-color: #ffffff;
    color:#131313;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    display: block;
}

nav ul li{
    height: 40px;
    width: 132px;
    margin-left: 4px;
    margin-right: 4px;
    line-height: 40px; 
    text-align: center;
    white-space: nowrap;  
}

nav ul li a:hover{
    background-color: #7a7a7a;
}

.big_box{
    width: 1040px;
    background-color: #131313;
    margin-left: auto;
    margin-right: auto;
}

article h2{
    margin-top: 8px;
    margin-bottom: 8px;
    height: 50px;
    line-height: 50px;
}

footer{
    height: 200px;
    background-color: #131313;
}

footer h5{
    margin-top: 8px;
    text-align: center;
    height: 30px;
    line-height: 30px;

}

footer p{
    text-align: center;
}

#about{
    height: 996px;
    text-align: center;
}

#pasta_v{
    margin: 20px;
    float: left;
}

#pasta_v_w{
    width: 480px;
    height: 270px;
    margin: 20px;
    float: left;
}

#wine_v{
    margin: 20px;
    float: left;
}

#wine_v_w{
    width: 480px;
    height: 270px;
    margin: 20px;
    float: left;
}

#about_p{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 1040px;
    height: 270px;
    float:left;
}

#about p{
    height: 168px;
    margin-top: 51px;
    margin-bottom: 51px;
}